@font-face {
  font-family: Rubik;
  src: url(https://fonts.google.com/specimen/Rubik);
}

:root {
  /* Main */

  --paleviolet: hsl(276, 100%, 81%); /* sub head */
  --modviolet: hsl(276, 55%, 52%); /* chat left */
  --darkviolet: hsl(271, 15%, 43%); /* chat right */
  --greyblue: hsl(206, 6%, 79%); /* placeholder text */
  --verydarkvio: hsl(271, 36%, 24%); /* main head */
  --darkgreyvio: hsl(270, 7%, 64%); /* paragraph */

  /* Gradients */

  --lightmagenta: hsl(293, 100%, 63%);
  --lightviolet: hsl(264, 100%, 61%);

  /* Secondary */

  --white: hsl(0, 0%, 100%);
  --lightgreyvio: hsl(270, 20%, 96%); /* app background */
  --verylightmage: hsl(289, 100%, 72%); /* radio button outline */
}

/* Reset formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Reset list style */
ul {
  list-style-type: none;
}

/* main {
  display: 0;
  flex-direction: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 10rem;
} */

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background: var(--lightgreyvio);
  color: rgb(0, 0, 0);
  padding: 5rem;
}

/* Right side title and description */
.info-text {
  color: 0;
}
.info-text h1 {
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 700;
  width: 25rem;
  color: var(--verydarkvio);
}

.info-text p {
  font-weight: 400;
  color: var(--darkgreyvio);
  width: 25rem;
  line-height: 1.6rem;
}

/* Phone */
.phone {
  padding: 1rem;
  background-color: var(--lightgreyvio);
  border-radius: 3rem;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--white);
  width: 25rem;
  height: auto;
  text-align: center;
  box-shadow: 1rem 1rem 3rem #cecece;
}

/* Top part of phone */

.topbar {
  position: relative;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: start;
  gap: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  z-index: 0;
  text-align: left;
}

.topbar h1 {
  color: var(--white);
  font-size: 16px;
}

.topbar p {
  color: var(--greyblue);
  font-size: 12px;
}

.topbar .topgradient {
  position: absolute;
  margin-bottom: 1.25rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-radius: 2.5rem 2.5rem 0.5rem 0.5rem;
  background: linear-gradient(
    90deg,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%) 100%
  );
  width: 23.6rem;
  height: 6rem;
  z-index: -1;
}

.topbar .threedots {
  margin-left: 8rem;
  margin-bottom: 0.3rem;
  height: 1rem;
  width: 1rem;
  background-image: radial-gradient(circle, var(--white) 1px, transparent 2px);
  background-size: 100% 33.33%;
  cursor: pointer;
}

.topbar .leftarrow h1 {
  margin-left: 0.25rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.topbar .topblock {
  position: absolute;
  background: var(--white);
  width: 12rem;
  height: 1.75rem;
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  margin-left: 23%;
  margin-bottom: 6rem;
}

/* top bar pfp */
.avatar img {
  border-radius: 50%;
  border: 0.1rem solid var(--white);
  width: 2rem;
  cursor: pointer;
}

/* Left 1st messages */
.firstleftmsg {
  width: 22rem;
  height: auto;
  font-size: 14px;
}

.firstleftmsg p {
  color: var(--modviolet);
  font-weight: 500;
  padding: 0.75rem;
  margin-right: 8rem;
  text-align: left;
  background-color: rgb(243, 230, 248);
  border-radius: 1rem 1rem 1rem 0.25rem;
}

.firstleftmsg p:first-child {
  margin-top: 1rem;
}

.firstleftmsg p:last-child {
  margin-top: 0rem;
}

/* Right messages */

.rightmsg p {
  font-size: 14px;
  color: var(--verydarkvio);
  font-weight: 500;
  padding: 0.75rem;
  text-align: left;
  background-color: var(--white);
  border-radius: 1rem 1rem 0.25rem 1rem;
}

.rightmsg .rightind p:first-child {
  margin-left: 8.3rem;
}

.rightmsg .rightind p:last-of-type {
  margin-left: 13.2rem;
}

.rightmsg .doggo img {
  /* dog images */
  border-radius: 20%;
  width: 4rem;
}

.rightmsg .doggo {
  /* dog images */
  margin-left: 9rem;
  cursor: pointer;
}

.secondleftmsg {
  width: 22rem;
  height: auto;
  font-size: 14px;
}

.secondleftmsg p:first-child {
  color: var(--modviolet);
  font-weight: 500;
  padding: 0.75rem;
  margin-right: 8.75rem;
  text-align: left;
  background-color: rgb(243, 230, 248);
  border-radius: 1rem 1rem 1rem 0.25rem;
}

/* Left purple gradient bars */
.purplebartext {
  /* flex */
  color: var(--white);
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;
}

.purplebartext .secondcircle,
.purplebartext .firstcircle {
  background-color: rgba(255, 136, 0, 0);
  border: 0.1rem solid var(--white);
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.purplebartext .secondcircle:hover,
.purplebartext .firstcircle:hover {
  background-color: rgba(216, 216, 216, 0.425);
}

.purplebartext .secondcircle:active,
.purplebartext .firstcircle:active {
  background-color: rgb(255, 255, 255);
}

.purplebartext .firstbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 0.75rem;
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15rem;
  font-size: 14px;
  background: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%) 100%
  );
  border-radius: 1rem 1rem 1rem 0.25rem;
}

.purplebartext .firstbar h2 {
  padding-left: 2.15rem;
}

/* second bar */
.purplebartext .secondbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 0.75rem;
  padding: 0.75rem;
  width: 15rem;
  font-size: 14px;
  background: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%) 100%
  );
  border-radius: 1rem 1rem 1rem 0.25rem;
}

.purplebartext .secondbar h2 {
  padding-left: 3.5rem;
}

/* Element box shadows */
.firstleftmsg p,
.doggo img,
.rightind p,
.secondleftmsg p,
.firstbar,
.secondbar,
.messagebar,
.arrowcircle {
  box-shadow: 0.25rem 0.25rem 1rem #e0e0e0;
}

/* Message bar */
.messagebar {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11.25rem;
  /* divider */
  font-weight: 700;
  font-size: 12px;
  padding: 1rem;
  margin-top: 1rem;
  color: var(--greyblue);
  background-color: var(--white);
  border-radius: 2rem;
  width: 22rem;
  height: auto;
  text-align: left;
}

.messagebar .arrowcircle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verydarkvio);
  border: 0.1rem solid var(--white);
  border-radius: 3rem;
  height: 3em;
  width: 3em;
  cursor: pointer;
  transition: background-color 0.25s ease-out;
}

.messagebar .arrowcircle:hover {
  background-color: var(--darkviolet);
}

.messagebar .arrowcircle h2 {
  font-size: 16px;
  padding-bottom: 0.13rem;
}

/* Background gradient shape */
.backgradient {
  position: absolute;
  left: -5rem;
  top: -18rem;
  z-index: -1;
  width: 22.5rem;
  height: 65rem;
  border-radius: 0% 0% 35rem 0%;
  background: var(--modviolet);
}

/* Attribution */
.attribution {
  color: var(--white);
  padding-top: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--verylightmage);
}

/* Media shit */
@media screen and (orientation: portrait) {
  .info-text {
    text-align: center;
  }
}
@media screen and (orientation: landscape) {
  .info-text {
    text-align: left;
  }
}
