@font-face {
  font-family: Rubik;
  src: url(https://fonts.google.com/specimen/Rubik);
}

:root {
  /* Main */

  --paleviolet: hsl(276, 100%, 81%); /* sub head */
  --modviolet: hsl(276, 55%, 52%); /* chat left */
  --darkviolet: hsl(271, 15%, 43%); /* chat right */
  --greyblue: hsl(206, 6%, 79%); /* placeholder text */
  --verydarkvio: hsl(271, 36%, 24%); /* main head */
  --darkgreyvio: hsl(270, 7%, 64%); /* paragraph */

  /* Gradients */

  --lightmagenta: hsl(293, 100%, 63%);
  --lightviolet: hsl(264, 100%, 61%);

  /* Secondary */

  --white: hsl(0, 0%, 100%);
  --lightgreyvio: hsl(270, 20%, 96%); /* app background */
  --verylightmage: hsl(289, 100%, 72%); /* radio button outline */
}

/* Reset formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Reset list style */
ul {
  list-style-type: none;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background: black;
  color: rgb(0, 0, 0);
  padding: 5rem;
}

/* Right side title and description */
.info-text {
  color: 0;
}
.info-text h1 {
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--verydarkvio);
}

.info-text p {
  font-weight: 400;
  color: var(--darkgreyvio);
  width: 25rem;
}

/* Phone */
.phone {
  padding: 1rem;
  background-color: var(--greyblue);
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 0.5rem solid var(--white);
  width: 25rem;
  height: auto;
  text-align: center;
}

/* Top part of phone */

.topbar {
  position: relative;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: start;
  padding-bottom: 1rem;
  gap: 1rem;
  z-index: 0;
  text-align: left;
}

.topbar h1 {
  color: var(--white);
  font-size: 16px;
}

.topbar p {
  color: var(--greyblue);
  font-size: 12px;
}

.topbar .topgradient {
  position: absolute;
  margin-left: -1rem;
  margin-right: -1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  background: linear-gradient(
    90deg,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%) 100%
  );
  width: 24rem;
  height: 4rem;
  z-index: -1;
}

/* Left 1st messages */
.firstleftmsg p {
  color: var(--modviolet);
  font-weight: 700;
  padding: 0.5rem;
  margin-right: 8rem;
  text-align: left;
  background-color: var(--lightgreyvio);
  border-radius: 1rem;
}

.firstleftmsg p:first-child {
  margin-top: 1rem;
}

.firstleftmsg p:last-child {
  margin-top: 0rem;
}

/* Rounded images */
.avatar img {
  /* top bar pfp */
  border-radius: 50%;
  border: 0.1rem solid var(--white);
  width: 2rem;
}

.rightmsg img {
  /* dog images */
  border-radius: 20%;
  width: 5rem;
}

/* Message bar */
.messagebar {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 2rem;
  width: 23rem;
  height: auto;
  text-align: center;
}

/* Attribution */
.attribution {
  color: var(--white);
  padding-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--verylightmage);
}

/* Media shit */
@media screen and (orientation: portrait) {
  .info-text {
    text-align: center;
  }
}
@media screen and (orientation: landscape) {
  .info-text {
    text-align: left;
  }
  /* Doesn't fucking work yet */
  .body {
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-top: 12rem;
  }
}

/* Prevent stretching with window */
@media (min-width: 1440px) {
  .container {
    width: 375px;
    margin: auto;
  }
}
